git filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
notebooks/Luis/mineria_datos/Datos/*.pkl filter=lfs diff=lfs merge=lfs -text
notebooks/Luis/mineria_datos/models/* filter=lfs diff=lfs merge=lfs -text
